* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background: #250057;
}
.containr {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inputBox {
  background: #fff;
  /* width: 90%; */
  /* max-width: 500px; */
  border-radius: 5px;
  padding: 10px 20px;
  margin: 300px auto;
  display: flex;
  align-items: center;
}
.inputBox input {
  width: 100%;
  padding: 10px 0;
  border: 0;
  outline: 0;
  font-size: 24px;
  color: #555;
}
.inputBox img {
  width: 35px;
  cursor: pointer;
}
